html {
  background-color: Gainsboro;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 1.2;
}

h2 {
  color: RebeccaPurple;
  text-align: center;
}


th {
  background-color: Plum;
  text-align: center;
}

table {
  margin: 0 auto;
  padding: 1px;
  border: 2px solid;
  border-color: DarkViolet;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  width: 700px;
}

td {
  border-top: 1px solid;
  border-color: DarkViolet;
}

code {
  background-color: LemonChiffon;
}

